{% extends "outpost/base.html" %}

{% load i18n %}

{% block content %}
<div class="border-bottom mb-2">
  <div class="btn-group pull-right">
    <a href="{% url "redirect:create" %}" class="btn btn-primary">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
      {% trans "Create new URL redirect" %}
    </a>
  </div>
  <h1>
    {% trans "Your URL redirects" %}
  </h1>
</div>
<div class="alert alert-info" role="alert">
  <strong>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  </strong>
  {% blocktrans with domain=request.get_host %}
  You can create a short URL unter the domain of {{ doamin }} which will redirect all visitors to whatever URL you defined as the target.
  {% endblocktrans %}
</div>
{% if object_list %}
<table class="table table-hover table-vcenter">
  <tr>
    <th scope="col">{% trans "Source" %}</th>
    <th scope="col">{% trans "Destination" %}</th>
    <th scope="col">{% trans "Enabled" %}</th>
    <th scope="col">{% trans "Actions" %}</th>
  </tr>
  {% for url in object_list %}
  <tr>
    <td>
      {% if url.enabled %}
      <a href="{{ request.scheme }}://{{ request.get_host }}{% url "redirect:redirect" slug=url.slug %}">
        {{ request.scheme }}://{{ request.get_host }}{% url "redirect:redirect" slug=url.slug %}
      </a>
      {% else %}
      {{ request.scheme }}://{{ request.get_host }}{% url "redirect:redirect" slug=url.slug %}
      {% endif %}
    </td>
    <td>{{ url.destination }}</td>
    <td>
      {% if url.enabled %}
      <i class="fa fa-eye" aria-hidden="true"></i>
      {% else %}
      <i class="fa fa-eye-slash" aria-hidden="true"></i>
      {% endif %}
    </td>
    <td>
      <a class="btn btn-primary" href="{% url "redirect:edit" pk=url.pk %}">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </a>
      <a class="btn btn-danger" href="{% url "redirect:delete" pk=url.pk %}">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="alert alert-info" role="alert">
  <strong>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  </strong>
  {% blocktrans %}
  There are no URL redirects defined yet.
  {% endblocktrans %}
</div>
{% endif %}
{% endblock %}
